In [1]:
import pandas as pd
import datetime

In [2]:
data=pd.read_excel("strategy_results_train.xlsx")

In [3]:
data.head()

,id,label,date,open,high,low,close,volume,ma5,ma20,...,macd,RSI,slowk,slowd,upperband,middleband,lowerband,Doji Star,Harami Pattern,WILLR
0,SHSE.600085_201501,0,2014-12-30,20.900000,22.090000,20.799999,22.049999,25457468,21.291999,21.6650,...,0.300741,62.068021,53.007548,41.724466,22.091639,21.291999,20.492360,0,0,-29.545514
1,SHSE.600085_201502,1,2015-01-30,22.990000,23.190001,22.510000,22.580000,7880595,23.320000,23.5860,...,0.306613,44.368000,23.586163,43.440259,24.465636,23.320000,22.174364,0,0,-91.379283
2,SHSE.600085_201503,1,2015-02-27,22.520000,22.670000,22.400000,22.540001,9263796,22.442000,22.4540,...,-0.112559,51.227905,84.745356,84.274686,22.733589,22.442000,22.150410,0,0,-11.805498
3,SHSE.600085_201504,1,2015-03-30,26.219999,26.440001,25.820000,26.230000,16125626,26.378000,24.0025,...,0.969363,71.193802,79.428944,85.036694,26.997341,26.378000,25.758658,0,0,-16.913338
4,SHSE.600085_201505,1,2015-04-29,32.580002,33.639999,32.279999,33.180000,13959795,32.888000,31.2410,...,1.955272,65.253112,53.398081,48.166046,33.728420,32.888000,32.047581,0,0,-30.795258

In [4]:
data2=pd.concat([data.iloc[:,1],data.iloc[:,8:]],axis=1)
data2.head()

,label,ma5,ma20,ma60,ma240,macd,RSI,slowk,slowd,upperband,middleband,lowerband,Doji Star,Harami Pattern,WILLR
0,0,21.291999,21.6650,19.993667,18.620375,0.300741,62.068021,53.007548,41.724466,22.091639,21.291999,20.492360,0,0,-29.545514
1,1,23.320000,23.5860,21.590667,18.971000,0.306613,44.368000,23.586163,43.440259,24.465636,23.320000,22.174364,0,0,-91.379283
2,1,22.442000,22.4540,22.351000,19.175000,-0.112559,51.227905,84.745356,84.274686,22.733589,22.442000,22.150410,0,0,-11.805498
3,1,26.378000,24.0025,23.219167,19.698792,0.969363,71.193802,79.428944,85.036694,26.997341,26.378000,25.758658,0,0,-16.913338
4,1,32.888000,31.2410,25.910667,20.880542,1.955272,65.253112,53.398081,48.166046,33.728420,32.888000,32.047581,0,0,-30.795258

In [5]:
data2=data2.dropna(axis=0)

In [6]:
data2.isnull().any()

label             False
ma5               False
ma20              False
ma60              False
ma240             False
macd              False
RSI               False
slowk             False
slowd             False
upperband         False
middleband        False
lowerband         False
Doji Star         False
Harami Pattern    False
WILLR             False
dtype: bool

In [7]:
y=data2["label"]
y

0        0
1        1
2        1
3        1
4        1
        ..
31942    1
31943    0
31944    0
31945    0
31946    0
Name: label, Length: 30204, dtype: int64

In [8]:
X=data2.iloc[:,1:]
X

,ma5,ma20,ma60,ma240,macd,RSI,slowk,slowd,upperband,middleband,lowerband,Doji Star,Harami Pattern,WILLR
0,21.291999,21.665000,19.993667,18.620375,0.300741,62.068021,53.007548,41.724466,22.091639,21.291999,20.492360,0,0,-29.545514
1,23.320000,23.586000,21.590667,18.971000,0.306613,44.368000,23.586163,43.440259,24.465636,23.320000,22.174364,0,0,-91.379283
2,22.442000,22.454000,22.351000,19.175000,-0.112559,51.227905,84.745356,84.274686,22.733589,22.442000,22.150410,0,0,-11.805498
3,26.378000,24.002500,23.219167,19.698792,0.969363,71.193802,79.428944,85.036694,26.997341,26.378000,25.758658,0,0,-16.913338
4,32.888000,31.241000,25.910667,20.880542,1.955272,65.253112,53.398081,48.166046,33.728420,32.888000,32.047581,0,0,-30.795258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31942,58.442000,60.116500,52.437667,40.671042,0.941104,45.922808,16.859409,20.288400,60.133125,58.442000,56.750875,0,0,-86.229507
31943,56.290000,55.099500,56.814167,43.133708,-0.196820,45.480812,57.861633,70.447534,59.410078,56.290000,53.169922,0,0,-46.909485
31944,55.034000,52.506000,55.801167,44.846417,0.209077,64.445312,89.685539,84.691942,58.002599,55.034000,52.065401,0,0,-2.683775
31945,45.882000,50.494500,53.325833,45.552500,-2.132327,37.738721,23.332247,15.891148,47.450407,45.882000,44.313593,0,0,-76.333338
31946,49.150001,51.186501,51.572833,47.187708,-0.497961,37.565407,12.602612,18.888337,51.439734,49.150001,46.860268,0,0,-95.753405

In [9]:
X = X.dropna(axis = 0)

In [10]:
X.isnull().any()

ma5               False
ma20              False
ma60              False
ma240             False
macd              False
RSI               False
slowk             False
slowd             False
upperband         False
middleband        False
lowerband         False
Doji Star         False
Harami Pattern    False
WILLR             False
dtype: bool

In [11]:
X.shape

(30204, 14)

In [12]:
#from sklearn.ensemble import RandomForestClassifier
#clf = RandomForestClassifier()
#clf.fit(X, y)

In [13]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import VotingClassifier

In [14]:
#clf1=LogisticRegression()
#clf1.fit(X, y)
#clf2=SVC()
#clf2.fit(X, y)
clf3=RandomForestClassifier()
clf3.fit(X, y)
#clf4=AdaBoostClassifier()
#clf4.fit(X, y)
#clf5=GradientBoostingClassifier()
#clf5.fit(X, y)
#eclf=VotingClassifier(estimators=[('lr',clf1),('svc',clf2),('rf',clf3),('ada',clf4),('gb',clf5)],voting='hard')
#eclf.fit(X, y)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [15]:
import numpy as np
from sklearn import metrics
fpr, tpr, thresholds = metrics.roc_curve(y, clf3.predict(X))
metrics.auc(fpr, tpr)

0.9812086787414169

In [ ]:
testdata = pd.read_excel("sampleSubmission.xlsx")

In [ ]:
testdata = testdata.fillna(1)
testdata.isnull().any()

In [ ]:
testdata.iloc[:, 2:]

In [ ]:
result = clf3.predict(testdata.iloc[:, 2:])

In [ ]:
pd.DataFrame(result).to_excel("prediction_ne.xlsx", index=False)